* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1200px;
}

.container {
    display: flex;
    justify-content: center;
}

.exemple {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: 50px 0;
    background-color: #D6E9FE;
    
}

.item img {
    display: block;
}

/* caixa azul clara "relative" que possui um pequeno código JS para se locomover para a direita
smepre que atualizar a página. */
.item-relative {
    position: relative;
    bottom: 30px;
    right: 30px;
}

/* Caixa "absolute" de cor lilás, que sua posição é absoluta em relação ao seu pai */
.item-absolute {
    position: absolute;
    top: 10px;
    left: 300px;
}

.absolute {
    position: relative;
}

/* caixa "fixed" vermelha, que fica fixada ao final do browser */
.item-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}